.footer {
    display: flex;
    flex-direction: column;
    
    padding: 15px;
    gap: 8px;

    color: var(--footer-fgcolor);
    background-color: var(--footer-bgcolor);
}

.footer > *{
    text-align: center;
    font-weight: bold;
}