.create-btn {
    background-color: var(--bgcolor-primary);
    
    width: 100%;
    max-width: var(--img-maxwidth);
    height: 100%;

    display: grid;
    place-items: center;

    padding: 0;
    
    border: solid;
    border-color: var(--border-color-secondary);
    border-width: var(--border-width-common);
}

.create-btn:only-child {
    max-width: var(--img-minwidth);
    height: auto;
    aspect-ratio: 2/3;
}

.create-btn::before {
    content: '+';
    font-size: 7em;
    font-weight: bold;
    color: var(--border-color-secondary);
}

.buttons {
    margin-top: var(--margin-big);
    display: flex;
    justify-content: end;
    gap: var(--gap-common);
}
