.game-card{
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: var(--gap-common);
    padding: var(--padding-common);

    background-color: var(--bgcolor-primary);
}

.game-card * {
    cursor: pointer;
}

.game-card-name{
    width: 100%;

    text-align: left;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.game-card-rating{
    width: 100%;
    
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
    gap: var(--gap-common);
    margin-top: auto;
}

.game-card-rating-mark {
    height: 2.5em;
    aspect-ratio: 1;
    
    display: grid;
    align-items: center;

    text-align: center;
    font-weight: bold;
    
    border-radius: 0.5em;
}

.game-card-rating-description {
    font-style: italic;
    color: var(--fgcolor-secondary);
}

.game-card-rating-mark:global(.good), .game-card-rating-mark:global(.average), 
.game-card-rating-mark:global(.bad), .game-card-rating-mark:global(.unmarked) {
    background-color: var(--color);
    color: whitesmoke;
}