.game-list-component {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: var(--gap-common);
    padding: var(--padding-common);
}

.game-list-top-controllers {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    align-items: center;
    
    gap: var(--gap-common);
}

.game-list-top-controllers > * {
    margin: 0 !important;
    flex-basis: auto;
}

.game-list-search {
    width: min(40em, 100%);
    min-width: min(20em, 100%);
}

.game-list-pagination {
    min-width: min(35em, 100%);
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
}

.game-list {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--img-minwidth), 1fr));
    grid-template-rows: min-content;
    gap: var(--gap-common);
    place-items: center;
}

.game-list-element {
    max-width: var(--img-maxwidth);
    width: 100%;
}

.game-list[is-empty=true] {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
}

.game-list[is-empty=true]::after {
    content: var(--gamelist-empty-content);
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: var(--fgcolor-secondary);
    padding: 0;
    margin: 0;
}