.loader-container {
    flex-grow: 1;
}

.loader-not-loaded {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: var(--gap-big);
}

.err-code {
    line-height: 0.8em;
    font-size: 8em;
    font-weight: bold;
    text-align: center;
    
    color: var(--fgcolor-secondary);
}

.loader-text {
    font-size: 2em;
    font-weight: bold;
    text-align: center;

    color: var(--fgcolor-secondary);
}