.labeled-input {
    margin-bottom: var(--margin-common);
}

.input-label {
    font-size: var(--font-size-secondary);
    margin-right: var(--margin-common);
    width: 100%;
    display: block;
}

.select-wrapper {
    position: relative;
}

.select-wrapper > select {
    width: 100%;
}

.select-wrapper > .select-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    translate: 0 -50%;

    pointer-events: none;
}