.overlap-container {
    position: relative;
}

.overlap-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    max-width: unset !important;
    max-height: unset !important;
    min-width: unset !important;
    min-height: unset !important;

    display: block !important;

    background-color: rgba(0, 0, 0, 0.5);
}

.overlap-text {
    display: block;
    width: 100%;

    margin-top: 1em;

    font-size: 2em;
    font-weight: bold;
    text-align: center;

    color: whitesmoke;
    background-color: transparent;
}