.popup-bg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;

    overflow: scroll;

    visibility: visible !important;
    display: grid !important;
    padding: 0;

    background-color: var(--popup-bgcolor);
}

.popup-body {
    margin: auto;

    background-color: var(--bgcolor-primary);
    color: var(--fgcolor-primary);

    display: flex;
    flex-direction: column;

    min-width: min(500px, calc(100svw - 2 * var(--border-width-common)));
    width: min-content;
    max-width: calc(100svw - 2 * var(--border-width-common));

    border: solid;
    border-width: var(--border-width-common);
    border-color: var(--border-color-primary);
    border-radius: 30px;
    border-top-right-radius: var(--button-border-radius);

    overflow: hidden;
}

.popup-content {
    padding: var(--padding-big);
    padding-top: 0;

    overflow: scroll;

    width: 100%;
}

.popup-close-button {
    margin-left: auto;
    min-height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.3em;
    font-weight: bold;

    border: solid;
    border-right: none;
    border-top: none;
    border-bottom-width: var(--border-width-common);
    border-left-width: var(--border-width-common);
    border-radius: 0;
    border-bottom-left-radius: var(--button-border-radius);
    border-color: inherit;
}