.property-list {
    width: fit-content;
    height: min-content;
    max-width: 100%;

    display: grid;
    grid-template-columns: min-content 1fr;

    row-gap: 5px;
    column-gap: 20px;
}

.property-name {
    grid-column: 1/2;
    max-width: 30svw;
    text-align: right;
    overflow: hidden;
    overflow-wrap: break-word;
}

.property-value {
    grid-column: 2/3;
    width: min(fit-content, 100%);
}
