.form {
    padding: var(--padding-common);
    margin: var(--margin-common);
    
    width: calc(100% - 2*var(--margin-common));
}

.buttons {
    margin-top: var(--margin-common);
    display: flex;
    justify-content: end;
    gap: var(--gap-common);
}

.input-error {
    display: block;
    margin: 0 auto;
    
    font-size: var(--font-size-secondary);
    text-transform: lowercase;
    text-align: center;
    
    color: var(--error-color);
}
